.container {
    position: relative;
    font-family: 'Playfair Display', serif;

    &__quiz {
      background-image: url('../../../public/assets/quiz-background2.png');
      background-size: cover;
      background-position: center;
      width: 100vw;
      height: 65vh;
    }
  
    &__grey{ 
      background-color: black;
      width: 100vw;
      height: 65vh;
      opacity: 0.4;
    }
    &__content {
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    &__title {
        padding-top: 10px;
        margin-bottom: 10px;
        color: white;
        font-size: 44px;
        font-weight: 200;
        line-height: 45px;
        width: 30%;
    }

    &__subtitle {
        color: white;
        font-size: 19px;
        font-weight: 400;
        line-height: 35px;
        width: 38%;
    }

    &__resetButton {
        font-size: 19px;
        width: 15%;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 8px;
        cursor: pointer;
        padding: 20px;
        font-weight: 400;
    }

    &__resetButton:hover {
        background-color: white;
        color: black;
    }

    &__productOffer{
      position: absolute;
      top: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__firstItem{
      width: 80%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }

    &__prevSlide{
      background-color: #EEF7FB;
      border: none;
      width: 6%;
      height: 10%;
      border-radius: 30px;
      rotate: 180deg;
      cursor: pointer;
    }

    &__nextSlide{
      background-color: #EEF7FB;
      border: none;
      width: 6%;
      height: 10%;
      border-radius: 30px;
      cursor: pointer;
    }
    
    &__desc{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 40%;
      background-color: #EEF7FB;
      border-radius: 8px;
    }
    &__desc__title{
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    &__desc__subtitle{
      text-align: left;
      width: 70%;
      line-height: 30px;
      font-weight: 100;
      padding-bottom: 30px;
    }

    &__slider{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 80%;
      height: 70%;
    }

    &__item{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border-radius: 8px;
      width: 30%;
      max-height: 30%;
    }

    &__item_favorite{
      padding: 10px;
      top: 0;
      right: 0;
      position: absolute;
      background-color: white;
      border-radius: 9px;
      cursor: pointer;
    }

    &__item_price{
      margin-top: 0px;
    }

    &__pagination{
      padding: 50px 0;
    }

    &__active{
      background-color: #5BC1ED;
      border: none;
      border-radius: 30px;
      width: 3px;
      height: 10px;
      margin: 0 3px
    }

    &__inactive {
      background-color: #E3E3E3;
      border: none;
      border-radius: 30px;
      width: 3px;
      height: 10px;
      margin: 0 3px

    }

    @media (max-width: 768px) {
      &__title, &__subtitle, &__desc__title, &__desc__subtitle {
          text-align: center;
          width: 90%;
      }
  
      &__title {
          font-size: 28px;
          line-height: 1.2;
      }
  
      &__subtitle {
          font-size: 14px;
      }
  
      &__desc__title {
          font-size: 18px;
      }
  
      &__desc__subtitle {
          font-size: 12px;
      }
  
      &__resetButton {
          font-size: 14px;
          padding: 12px 18px;
          width: 50%;
      }
  
      &__productOffer {
          width: 100%;
          padding: 25px;
      }
  
      &__firstItem {
          gap: 20px;
          justify-content: space-between;
          width: 100%;
          padding: 20px 0;
      }
  
      &__slider {
          gap: 20px;
          padding: 20px 0;
      }
  }
  
  /* Mobile Styling */
  @media (max-width: 480px) {
    &__quiz {
      background-image: url('../../../public/assets/quiz-background2.png');
      background-size: cover;
      background-position: center;
      width: 100vw;
      height: 45vh;
    }
  
    &__grey{ 
      background-color: black;
      width: 100vw;
      height: 45vh;
      opacity: 0.4;
    }
      &__content {
          top: 10%;
          left: 5%;
      }
  
      &__title {
          font-size: 24px;
          width: 100%;
          line-height: 1.2;
      }
  
      &__subtitle {
          font-size: 14px;
          width: 100%;
          line-height: 1.2;
      }
  
      &__resetButton {
          font-size: 14px;
          width: 80%;
          padding: 10px 12px;
      }
  
      &__firstItem {
          position: relative;
          width: 100%;
          gap: 20px;
          justify-content: space-between;
      }
      
      &__desc{
        width: 100%;
      }
      &__desc__title {
          font-size: 18px;
          margin-bottom: 15px;
      }
  
      &__desc__subtitle {
          font-size: 12px;
          width: 90%;
          line-height: 1.4;
      }
  
      &__slider {
          flex-direction: column;
          gap: 2px;
          width: 100%;
      }
  
      &__prevSlide{
        width: 0%;
        height: 0%;
      }
       &__nextSlide {
          width: 10%;
          height: auto;
      }
  
      &__productOffer {
          width: 90%;
          padding: 20px;
          top: auto;
      }
  
      &__item {
          width: 90%; /* Increased width for larger images */
          max-width: 90%;
          margin: 10px auto;
          padding: 15px;
          display: flex;
          justify-content: space-around;
          align-items: center;
      }
      &__pagination{
        padding: 0;
      }
  }
  
}