.container {
  width: 100px;
  height: 100px;
  position: relative;
  padding-bottom: 100px;
}

.progressText {
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-60%, -50%);
  color: #677487;
  font-size: 20px;
}

@media (max-width: 768px) {
  .container {
    width: 80px;
    height: 80px;
  }

  .progressText {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 60px;
    height: 60px;
  }

  .progressText {
    font-size: 14px;
  }
}
